{% extends "layout.html" %}
{% block content %}
<main>
<div class="container-animal">
    <h1 id="title-adoption">Formulaire d'adoption</h1>
</div>
<form action="/submit" method="post" id="formulaire-adoption">

<div class="container-question">
    <label for="nom-animal">Nom de votre animal :</label>
    <input type="text" id="nom-animal" name="nom-animal" maxlength="20">
    <span class="erreur-adoption" id="erreur-nom-animal">Erreur : Le nom de l'animal doit contenir entre 3 et 20 caractères alphabétiques.</span>
</div>
<br>
<div class="container-question">
    <label for="espece-animal">Espece de votre animal :</label>
    <input type="text" id="espece-animal" name="espece-animal" maxlength="20">
    <span class="erreur-adoption" id="erreur-espece-animal">Erreur : L'espece de votre animal doit contenir un maximum de 20 caractères alphabétiques.</span>
</div>
<br>
<div class="container-question">
    <label for="race-animal">Race de votre animal :</label>
    <input type="text" id="race-animal" name="race-animal" maxlength="20">
    <span class="erreur-adoption" id="erreur-race-animal">Erreur : La race de votre animal doit contenir un maximum de 20 caractères alphabétiques.</span>
</div>
<br>
<div class="container-question">
    <label for="age-animal">Age de votre animal :</label>
    <input type="number" id="age-animal" name="age-animal" min="0" max="30">
    <span class="erreur-adoption" id="erreur-age-animal">Erreur : L'age de votre animal doit etre entre 1 et 30 ans.</span>
</div>
<br>
<div class="container-question">
    <label for="description-animal">Description de votre animal :</label>
    <textarea id="description-animal" name="description-animal" rows="4" cols="30"></textarea>
    <span class="erreur-adoption" id="erreur-description-animal">Erreur : Veuillez entrer une description.</span>
</div>
<br>
<div class="container-question">
    <label for="courriel-animal">Votre adresse courriel :</label>
    <input type="text" id="courriel-animal" name="courriel-animal" max="30">
    <span class="erreur-adoption" id="erreur-courriel-animal">Erreur : Veuillez entrer une adresse courriel valide.</span>
</div>
<br>
<div class="container-question">
    <label for="adresse-animal">Votre adresse :</label>
    <input type="text" id="adresse-animal" name="adresse-animal" max="30">
    <span class="erreur-adoption" id="erreur-adresse-animal">Erreur : Veuillez entrer votre adresse.</span>
</div>
<br>
<div class="container-question">
    <label for="ville-animal">Votre ville :</label>
    <input type="text" id="ville-animal" name="ville-animal" max="30">
    <span class="erreur-adoption" id="erreur-ville-animal">Erreur : Veuillez entrer votre ville.</span>
</div>
<br>
<div class="container-question">
    <label for="codepostal-animal">Votre code postal :</label>
    <input type="text" id="codepostal-animal" name="codepostal-animal" max="7">
    <span class="erreur-adoption" id="erreur-codepostal-animal">Erreur : Votre code postal doit etre de format A0A 0A0</span>
</div>
<br>
<button type="submit" id="boutton-soumettre">Soumettre</button>
</form>

</main>
{% endblock %}