{% extends "layout.html" %}
{% block content %}
<main class="container-animal">


<div class="container-question">
    <p>Nom de l'animal : {{animal.nom}}</p>
</div>
<br>
<div class="container-question">
    <p>Espece de l'animal : {{animal.espece}}</p>
</div>
<br>
<div class="container-question">
    <p>Race de l'animal : {{animal.race}}</p>
</div>
<br>
<div class="container-question">
    <p>Age de l'animal : {{animal.age}}</p>
</div>
<br>
<div class="container-question">
    <p>Description de l'animal : {{animal.description}}</p>
</div>
<br>
<div class="container-question">
    <p>Courriel du proprietaire : {{animal.courriel}}</p>
</div>
<br>

</main>
{% endblock %}