{% extends "layout.html" %}
{% block content %}
<section id="centre_accueil">
    <div class="card">
        <img class="img_accueil" src="/images/chien.jpg" alt="Chien">
        <h2>Adoptez un chien</h2>
        <p>Trouvez votre nouveau meilleur ami dès maintenant !</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>

    <div class="card">
        <img class="img_accueil" src="/images/chat.jpg" alt="Chat">
        <h2>Adoptez un chat</h2>
        <p>Offrez un foyer à un ami félin pour toujours.</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>

    <div class="card">
        <img class="img_accueil" src="/images/oiseau.jpg" alt="Oiseau">
        <h2>Adoptez un oiseau</h2>
        <p>Faites-vous un ami à plumes pour la vie.</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>
</section>
{% endblock %}