{% extends "layout.html" %}
{% block content %}
<section id="centre_accueil">
    <div class="card">
        <img class="img_accueil" src="/images/chien.jpg" alt="Chien">
        <h2>Adoptez un chien</h2>
        <p>Trouvez votre nouveau meilleur ami dès maintenant !</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>

    <div class="card">
        <img class="img_accueil" src="/images/chat.jpg" alt="Chat">
        <h2>Adoptez un chat</h2>
        <p>Offrez un foyer à un ami félin pour toujours.</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>

    <div class="card">
        <img class="img_accueil" src="/images/oiseau.jpg" alt="Oiseau">
        <h2>Adoptez un oiseau</h2>
        <p>Faites-vous un ami à plumes pour la vie.</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>
</section>

<section id="animaux-vedette">
    <h2 id="title-animaux-vedette">Nos animaux en vedette</h2>
    <div class="container-animaux-vedette">
        {% for animal in animaux_en_vedette%}
        <div class="card">
        {% if animal.espece == "Chien" %}
            <img src="/images/chien.jpg" alt="chien">
        {% elif animal.espece == "Chat" %}
            <img src="/images/chat.jpg" alt="chat">
        {% elif animal.espece == "Oiseau" %}
            <img src="/images/oiseau.jpg" alt="oiseau">
        {% else %}
            <img src="/images/cameleon.jpg" alt="cameleon">
        {% endif %}
        <a class="nomAnimal" href="animal/{{animal.id}}">{{animal.nom}}</a>
        <div class="carteAnimal">
            <p class="carteAnimal">Age : {{ animal.age }}</p>
            <p class="carteAnimal">{{ animal.description }}</p>
            <br>
        </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}