<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Adoption d'animaux</h1>
</header>
<nav>
    <a href="/animal">Chiens</a>
    <a href="#">Chats</a>
    <a href="#">Oiseaux</a>
    <a href="#">Autres</a>
    <a href="/adoption">Mettre votre animal en adoption</a>
</nav>
<section id="centre_accueil">
    <div class="card">
        <img class="img_accueil" src="/images/chien.jpg" alt="Chien">
        <h2>Adoptez un chien</h2>
        <p>Trouvez votre nouveau meilleur ami dès maintenant !</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>

    <div class="card">
        <img class="img_accueil" src="/images/chat.jpg" alt="Chat">
        <h2>Adoptez un chat</h2>
        <p>Offrez un foyer à un ami félin pour toujours.</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>

    <div class="card">
        <img class="img_accueil" src="/images/oiseau.jpg" alt="Oiseau">
        <h2>Adoptez un oiseau</h2>
        <p>Faites-vous un ami à plumes pour la vie.</p>
        <br>
        <a href="#">En savoir plus</a>
    </div>
</section>
<footer>
    <p>Droits d'auteur &copy;Adoption d'animaux</p>
</footer>
</body>
</html>