<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site d'adoption d'animaux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1><a href="/" id="lien-accueil">Adoption d'animaux</a></h1>
</header>
<nav>
    <a href="/listeChien">Chiens</a>
    <a href="/listeChat">Chats</a>
    <a href="/listeOiseau">Oiseaux</a>
    <a href="/listeAutre">Autres</a>
    <a href="/adoption">Mettre votre animal en adoption</a>
</nav>
<div id="bg">
    {% block content %}{% endblock %}
</div>
<footer>
    <p>Droits d'auteur &copy;Adoption d'animaux</p>
    <!-- <script src="{{url_for('static', filename = 'js/script.js')}}"></script> -->
</footer>
</body>
</html>