<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site d'adoption d'animaux</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Adoption d'animaux</h1>
</header>
<nav>
    <a href="/animal">Chiens</a>
    <a href="#">Chats</a>
    <a href="#">Oiseaux</a>
    <a href="#">Autres</a>
    <a href="/adoption">Mettre votre animal en adoption</a>
</nav>
{% block content %}{% endblock %}
<footer>
    <p>Droits d'auteur &copy;Adoption d'animaux</p>
</footer>
</body>
</html>