{% extends "layout.html" %}
{% block content %}
{% if not les_animaux%}
<p> Désolé, nous n'avons pas de d'animaux à offrir en adoption pour l'instant</p>
{% else %}
<h1 class="titreListe">Voici nos animaux exotiques disponibles pour adoption</h1>
<br>
<ul class="displayListe">
    <li class="displayLigne">
        <ul class="listeAnimaux">
            {% for animal in les_animaux %}
            {% if animal.espece != "Chien" and animal.espece != "Chat" and animal.espece != "Oiseau" %}
            <li>
                <a class="nomAnimal" href="animal/{{animal.id}}">{{animal.nom}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li class="displayLigne">
        <img class="displayImg" src="images/cameleon.jpg" alt="chien">
    </li>
</ul>
{% endif %}
{% endblock %}