{% extends "layout.html" %}
{% block content %}
{% if not les_animaux%}
<p> Désolé, nous n'avons pas de d'animaux à offrir en adoption pour l'instant</p>
{% else %}
<h1 class="titreListe">Voici nos chiens disponibles pour adoption</h1>
<br>
<ul class="listeAnimaux">
    {% for animal in les_animaux %}
    {% if animal.espece == "Chien" %}
    <li>
        <a class="nomAnimal" href="animal/{{animal.id}}">{{animal.nom}}</a>
    </li>
    <br>
    <br>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}